<template name="nav-left">
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul>
            <li>
                <a id="shop-nav-women" href="/shop/category_main.asp?disp=WOMEN" class="link">WOMEN</a>
            </li>
            <li>
                <a id="shop-nav-men" href="/shop/category_main.asp?disp=MEN" class="link">MEN</a>
            </li>
            <li>
                <a id="shop-nav-home" href="/shop/category_main.asp?disp=LIVING" class="link">COUPLE</a>
            </li>
            <li>
                <a id="shop-nav-home" href="/shop/category_main.asp?disp=LIVING" class="link">BDSM</a>
            </li>
            <li class="item">
                <a id="shop-nav-life-style" href="/shop/category_main.asp?disp=LIFE-STYLE"
                   class="bar link">LIFE-STYLE</a>
            </li>
            <li class="item">
                <a href="/shop/new_all.asp" class="link">NEW</a>
            </li>
            <li class="item">
                <a href="/event/event_list.asp" class="link">EVENT</a>
            </li>
            <li class="item">
                <a href="/brand/" class="link">BRAND</a>
            </li>
            <li class="item">
                <a class="project link" href="/bwel/">BLACK WE LOVE</a>
            </li>
            <li class="item">
                <a class="project link" href="/specialorder/">SPECIAL ORDER</a>
            </li>
        </ul>
    </nav>
</template>