<template name="nav">
    <nav class="navigation navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <!--<a class="navbar-brand" href="/" style="font-family: Didot !important;">-->
                    <!--<img alt="Brand" src="...">-->
                    <b>9to6</b>
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a id="shop-nav-women" href="/shop/woman" class="link">WOMEN</a>
                </li>
                <li>
                    <a id="shop-nav-men" href="/shop/man" class="link">MEN</a>
                </li>
                <li>
                    <a id="shop-nav-couple" href="/shop/couple" class="link">COUPLE</a>
                </li>
                <li>
                    <a id="shop-nav-lifestyle" href="/shop/lifestyle" class="link">LIFE STYLE</a>
                </li>
                <li>
                    <a id="shop-nav-home" href="#" class="link">SPECIAL</a>
                </li>
                <li>
                    <a class="project link" href="/specialorder/">CUSTOMER</a>
                </li>
            </ul>
        </div>
    </nav>
</template>