<template name="Shop">
    <div class="content">
        <div class="container-fluid">
            <h1 style="margin-left: 180px">{{title}}</h1><br>
        </div>
        <div class="container-fluid">

            <div class="side">
                {{> sidebar categories=categories}}
            </div>

            <div class="main">
                {{#if cover}}
                    <div class="container-fluid clearfix">
                        <img class="item_cover" src="{{cover}}"/>
                    </div>
                {{/if}}
                {{#if slides}}
                    <div class="container-fluid clearfix">
                        {{>imagesSlider items = slides}}
                    </div>
                {{/if}}
                {{#each curations}}
                    <div class="container-fluid clearfix">
                        {{#if title}}
                            <h1>{{title}}</h1>
                        {{/if}}
                        <div class="item_grid">
                            {{#each item}}
                                {{> item}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>


<template name="sidebar">
    <div class="sidebar">
        <ul>
            {{#each categories}}
                <li>
                    <span class="title">{{title}}</span>
                    <ul>
                        {{#each item}}
                            <span class="title"><a href="/category/{{link}}">{{title}}</a></span><br>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="item">
    <div class="item{{#if span}}_span{{span}}{{/if}}"
         style="background-image: url('{{image}}'); background-size: 100% 100%;">
        <div class="item_meta">
            <span class="item_title">{{title}}</span>
            <span class="item_description">{{description}}</span>
        </div>
    </div>
</template>